@import 'theme/palette';

.room {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
        margin: 15px;
        cursor: pointer;
    }

    .ball {
        width: 100px;
        height: 100px;
        background-color: $paletteColor5;
        border-radius: 50%;
    }
}
