@import '../../../theme/palette.scss';

.article {
    min-height: 100vh;
    background-color: $paletteColor9;
    text-align: center;
    padding: 10px;

    h1 {
        color: $paletteColor14;
    }

    button {
        outline: 0;
        border: 0;
        color: $paletteColor9;
        background: $gradient2;
    }
}
