.button {
    background: var(--bgColor);
    padding: var(--size);
    margin: 0 5px;
    line-height: var(--size);
    border: none;
    font-size: var(--size);

    --bgColor: lightgreen;
    --size: 1rem;
}

.button--blue {
    --bgColor: lightblue;
}

.button--pink {
    --bgColor: hotpink;
}

.button--medium {
    --size: 1.1em;
}

.button--large {
    --size: 1.5rem;
}

.button--outlined {
    outline: 2px solid currentColor;
}

p {
    --color: purple;
    color: var(--color);
}

button {
    margin: 1em 0.5em;
}
