.button-gradient {
    outline: 0;

    background: linear-gradient(
        var(--gradientAngle),
        var(--gradientStart),
        var(--gradientStop)
    );

    --gradientAngle: 60deg;
    --gradientStart: lightpink;
    --gradientStop: lightyellow;
}

.button-gradient:hover {
    --gradientAngle: 0deg;
}
