.navigation {
    padding: 15px;
}

.navigation--button {
    border-radius: 3px;
    padding: 7px 12px;
    margin: 0 10px;
    border: 1px solid #d5d5d5;
    background-image: linear-gradient(#eee, #ddd);
    font-family: roboto, sans-serif;
}

.navigation--button--state-success {
    color: #fff;
    background: linear-gradient(#79d858, #569e3d);
    border-color: #4a993e;
}

.navigation--button--state-danger {
    color: #900;
}
