body {
    margin: auto;
    font-family: roboto, sans-serif;
    background-color: #ffcc66;
}

.post {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.post .article {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
}

.post .article .header .heading {
    margin: auto;
}
