@import 'theme/palette';

.room {
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    button,
    ul {
        position: fixed;
    }

    input {
        top: 10px;
    }

    button {
        top: 50px;
        cursor: pointer;
    }

    ul {
        top: 150px;

        li {
            user-select: none;
            cursor: pointer;
        }
    }
}
