@import '../../../theme/palette';
@import '../../../theme/mixins';

.box {
    @include border-radius(10px);

    height: 100px;
    width: 100px;
    margin: 25px;
    background-color: $paletteColor4;
}
