// HEX
$paletteColor1: #000;
$paletteColor2: #fff;
$paletteColor3: #f6f7f9;
$paletteColor4: #4267b2;
$paletteColor5: #1d2a5b;
$paletteColor6: #6b84fc;
$paletteColor7: #79bc64;
$paletteColor8: #578843;
$paletteColor9: #d4c5a0;
$paletteColor10: #ffdbb2;
$paletteColor11: #ffd6a8;
$paletteColor12: #794932;
$paletteColor13: #4f200a;
$paletteColor14: #ed5754;
$paletteColor15: #f40009;

// RGBA
$rgbaColor1: rgba(0, 0, 0, 0.1);
$rgbaColor2: rgba(0, 0, 0, 0.2);

// Gradients
$gradient1: linear-gradient($paletteColor7, $paletteColor8);
$gradient2: linear-gradient($paletteColor12, $paletteColor13);

// Maps
$colorMap1: (
    1: $paletteColor7,
    2: $paletteColor8,
    3: $paletteColor12,
    4: $paletteColor13
);
