@function pxMedia($px, $media) {
    $k: 0;
    @if $media == phonePortrait {
        $k: .15625;
    } @else if $media == phoneLandscape {
        $k: .08803;
    } @else if $media == phoneLandscapePlus {
        $k: .06944;
    } @else if $media == tabletPortrait {
        $k: .0625;
    } @else if $media == tabletLandscape {
        $k: .04882826;
    } @else if $media == desktop {
        $k: .048732943469786;
    } @else if $media == desktopWide {
        $k: .04394543;
    } @else if $media == desktopHD {
        $k: .0390626;
    } @else if $media == desktopMega {
        $k: .0341797;
    }

    @return $px * $k * 1vw;
}
