body {
    background-color: Khaki;
}

article {
    display: flex !important;
    flex-direction: column;
    height: 100vh;
}

h1 {
    margin: auto !important;
    font-family: roboto, sans-serif;
    color: DimGray;
}
