@supports (--color: red) {
    .button-gradient {
        outline: 0;

        background: linear-gradient(
            var(--gradientAngle),
            var(--gradientStart),
            var(--gradientStop)
        );

        --gradientAngle: 60deg;
        --gradientStart: skyblue;
        --gradientStop: wheat;
    }

    .button-gradient:hover {
        --gradientAngle: 0deg;
    }
}

@supports not (--color: red) {
    .button-gradient {
        outline: 0;

        background: linear-gradient(
            60deg,
            lightpink,
            lightyellow
        );
    }

    .button-gradient:hover {
        background: linear-gradient(
            0deg,
            lightpink,
            lightyellow
        );
    }
}