.navigation {
    display: flex;
    width: 20vw;
    margin: auto;
    justify-content: space-between;

    & a {
        color: deepskyblue;
        text-decoration: none;
        border: 1px solid currentColor;
        padding: 7px;
        transition: color .3s ease-in, border-radius .3s ease-out;
    }

    & .active {
        color: rebeccapurple;
        border-radius: 10px;
    }
}