@import '../../../theme/palette';

.article {
    width: 100vw;
    height: 100vh;
    background-color: $paletteColor9;
    color: darken($paletteColor12, 15%); // color functions

    &,
    article[role='main'],
    aside[role='complementary'] {
        border: 1px solid currentColor;
        box-sizing: border-box;
        padding: 12px;
    }

    article[role='main'] {
        float: left; // 😟
        height: 100%;
        width: 600px / 960px * 100%; // operators
    }

    aside[role='complementary'] {
        float: right;
        height: 100%;
        width: 300px / 960px * 100%;
    }
}
