@import 'theme/palette';

.room {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    .ball {
        width: 100px;
        height: 100px;
        background-color: $paletteColor5;
        border-radius: 50%;
    }
}

.initialAppearStart {
    opacity: 0.01;
    transform: translateY(-300px) scale(2);
}

.initialAppearEnd {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: opacity 2500ms ease-in, transform 2500ms ease-in;
}

.inStart {
    opacity: 0.01;
    transform: translateX(-1000px) scale(2);
}

.inEnd {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: opacity 2500ms ease-in, transform 2500ms ease-in;
}

.outStart {
    opacity: 1;
    transform: translateX(0) scale(1);
}

.outEnd {
    opacity: 0.01;
    transform: translateX(-1000px) scale(2);
    transition: opacity 2500ms ease-out, transform 2500ms ease-out;
}
