& {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $paletteColor10;
    height: 100vh;
    padding: px(10);

    h1 {
        font-size: px(64);
        color: $paletteColor14;
    }

    p {
        font-size: px(36);
    }

    button {
        height: px(50);
        width: px(200);
        font-size: px(25);
        background-color: $paletteColor12;
        color: lighten($paletteColor11, 30%);
        border: 0;
    }
}
