@import 'theme/palette';

.room {
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    button,
    ul {
        position: fixed;
    }

    input {
        top: 10px;
    }

    button {
        top: 50px;
        cursor: pointer;
    }

    ul {
        top: 150px;

        li {
            user-select: none;
            cursor: pointer;
        }
    }
}

.inStart {
    opacity: 0.01;
    transform: translateX(-1000px) scale(2);
}

.inEnd {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: opacity 2500ms ease-in, transform 2500ms ease-in;
}

.outStart {
    opacity: 1;
    transform: translateX(0) scale(1);
}

.outEnd {
    opacity: 0.01;
    transform: translateX(1000px) scale(2);
    transition: opacity 1000ms ease-out, transform 1000ms ease-out;
}
